#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}




.main-menu {
  width: 250px;
  background-color: #222;
  color: #fff;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  z-index: 1000;
}

.user-info {
  padding: 20px;
  display: flex;
  align-items: center;
}

.user-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.user-info p {
  margin: 0;
  font-size: 16px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin-bottom: 10px;
}

.nav-item a {
  display: block;
  padding: 15px;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.nav-item a:hover {
  background-color: #444;
}

.nav-text {
  margin-left: 10px;
}

.nav-icon {
  margin-right: 10px;
}




.contains {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.img {
  position: relative;
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 24px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.img:hover .overlay {
  opacity: 1;
  cursor: pointer;
}




@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.details {
  padding: 20px;
  background-color: #333;
  color: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  animation: slideDown 0.5s ease; 
}

#name {
  font-size: 28px;
  margin-bottom: 10px;
}

#img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

#duration, #age {
  font-size: 16px;
  margin: 5px 0;
}